
*{
    margin:0;
    padding: 0;
    
    }

body{
    
    background-image: linear-gradient(to right, rgb(98, 98, 184), rgb(253, 253, 253),rgb(98, 98, 184);
}
h1{
    text-align: center;
    color: rgb(204, 113, 39);
    background-color:rgb(192, 208, 238)
}

div{
    margin: 30px;
    background-color: rgb(141, 187, 132);
    width: 200px;
    height: 200px;
    transform: translate(10px,20px);
    transform: rotatey(110deg) ;
    transform: scale(1);
}

