h1{

}
header{

    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;


}



nav{
    background-color: azure;


}

nav ul{

    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:end;
}

nav ul li{
    background-color: brown;
    padding: 5px;
    maargin: 10px;
    border-radius: 50px;
}

.contenedor{
    
    padding: 10px;
    display:flex;
    margin-bottom: 100px;
  

}

aside{
    flex:30%;
    background-color: darkgoldenrod;
}

main{
    flex: 50%;
    background-color: rgb(118, 184, 11);
}

footer{
    height: 50 vh;
align-items: flex-end;
display:flex;
justify-content: center;
    padding: 30px;
    background-color: deepskyblue;
}
footer h4{

    text-align: center;


}

.divBody{
    background-color: black;

    height: 500px ;
}