*{
margin:0;
padding: 0;


/*2 unidades de medida
em
rem
*/

body{
    background-image: linear-gradient(to right, rgb(98, 98, 184), rgb(253, 253, 253),rgb(98, 98, 184);
    font-size: 30px;
}

div{
    font-size: 60px;
}

header h1{
    font-size: 1em;
}

div p{
font-size: 0.4em;
}

div h2{
    font-size: 1rem;
}


/*unidad de medida rem*/

main p{
    font-size: 1rem;
}