/*selectores*/


header{
    background-color:#F8F9F9 ;
    }



.imgLogo{   
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.galeria {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows:auto;
    gap: 1em;
  
    
  }

 .galeria-imagen {
    /*border: 10px solid;*/
        
  }

  .imgPortada{
      width: 100%;
    height: 80%;
  }

body{
    
    background-color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
     
h1 {
    font-size: 2rem;
    text-align:left;
         color:#BB9981;
     }
     h2 {
         text-align:center;
         color:darkkhaki;
     }
     h3 {
         text-align:center;
         color:darkkhaki;
     }
     
header nav ul{
     
         list-style: none;
     
}
     
a{
    text-decoration: none;
    color:rgb(116, 157, 158);
    margin: 0 5px;
    padding: 5px 8px;
    border-radius: 8px 8px 0 0;
    background-color: #bdc5c7;
    text-decoration: none;
}

nav{
    display: flex;
    border-bottom: 1px solid #ccc;
   }

nav ul{
     display:inline-block;
 
}
 
nav ul li{
      float: left;
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 10px;
      transform: scale(1.1);
}
 
nav ul li a:hover{
     background-color:rgb(185, 228, 228);
}
 
   .armonia{
       color:#EC7063;
       
   }





footer{

    background-color:blanchedalmond;
    text-align: center;
}



